{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product list</h1>
    <ul>
        {# ToDo 9: Get products an iterate over them and set them in the list #}
        <li>{{ custom_format_string.__invoke("product name") }} - EAN - Price &euro;</li>
    </ul>
    <hr/>
    <a id="import_button" href="{{ path("import") }}">Import From CSV</a>
    <a href="{{ path("add") }}">Add a product</a>
{% endblock %}