{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product list</h1>
    <ul>
        {# ToDo 9: Get products and iterate over them and set them in the list #}
        {% for product in products %}
            <li>{{ custom_format_string.__invoke(product.getName()) }} - {{product.getEan()}} - {{product.getPrice()}} &euro;</li>
        {% endfor %}
    </ul>
    <hr/>
    {# ToDo 14: Change import method invocation to POST#}
    <a id="import_button" href="{{ path("import") }}">Import From CSV</a>

{% endblock %}